* {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 120vh;
    background: url(images/background.png);
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 50px;
}
nav a {
    margin: 0 45px;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.container__description {
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home {
    font-size: 14px;
    color: #8E8E8E;
    padding-left: 10px;
}
.edition {
    line-height: 40px;
    font-size: 20px;
    color: white;
}
.descrtiption__link_arrow {
    width: 15px;
}
.card__genre {
    margin: 5px 0;
    color: #ACACAC;
}
a {
    text-decoration: none;
}
/* Lesson 5 here */

.game__collection {
    display: flex;
    justify-content: space-between;
}
.game__collection img {
    width: 100%;
}
.game__image, .game__description {
    flex-basis: 45%;
} 

.game__description {
    color: white;
}
.included {
    margin: 2em 0;
}
.game__description ul {
    padding-left: 20px;
}
.game__description ul li {
    margin: 1em 0;
} 
.order {
    background: white;
    color: #3B7EB4;
    border: none;
    padding: 15px 60px;
    border-radius: 5px;
    margin-top: 1em;
    font-weight: bold;
}
form {
    color: white;
    width: 30%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
}
form input {
    width: calc(100% - 20px);
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}
form input::placeholder {
    color: white;
}
form p {
    width: 100%;
    margin: 20px;
}

.spider_on_the_wall{
    position: absolute;
    top: 100%;
    right: 0;
}


.contacts{
    text-align: center;
}

.contacts h3{
    color:white;
}

.contacts p{
    color: white;
    font-size: 16px;
    margin: 10px 0;
}
.contacts{
    color: white;
}